{% extends 'crm/base.html' %}
{% block title %}Вход{% endblock %}
{% block content %}
<h1 class="page-title">Вход</h1>
{% if form.errors %}
    <p class="muted">Неверное имя пользователя или пароль.</p>
{% endif %}
<form method="post" class="form">
    {% csrf_token %}
    <label>Имя пользователя
        {{ form.username }}
    </label>
    <br>
    <label>Пароль
        {{ form.password }}
    </label>
    <br>
    <button type="submit">Войти</button>
    <input type="hidden" name="next" value="{{ next|default:'/dashboard/' }}">
 </form>
{% endblock %}

