{% extends 'crm/base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<h1 class="page-title">Регистрация</h1>
<form method="post" class="form">
    {% csrf_token %}
    <label>Имя пользователя
        <input type="text" name="username" required>
    </label>
    <br>
    <label>Email
        <input type="email" name="email">
    </label>
    <br>
    <label>Пароль
        <input type="password" name="password1" required>
    </label>
    <br>
    <label>Подтверждение пароля
        <input type="password" name="password2" required>
    </label>
    <br>
    <button type="submit">Создать аккаунт</button>
 </form>
{% endblock %}

