<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}CRM{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'crm/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'crm/css/base_extra.css' %}">
    {% block head %}{% endblock %}
 </head>
<body>
<header class="site-header">
  <div class="header-flex">
    <a class="logo" href="/">IT CRM</a>
    <nav aria-label="Main navigation">
      <ul class="styles_list__z_6uf ev-menu-list" data-orientation="horizontal" dir="ltr">
        <li><a href="{% url 'crm:landing' %}" class="styles_navLink___VcW8{% if request.resolver_match.url_name == 'landing' %} active{% endif %}" data-radix-collection-item><span>Главная</span></a></li>
        {% if user.is_authenticated %}
          {% if user.is_manager %}
            <li><a href="{% url 'crm:manager_request_list' %}" class="styles_navLink___VcW8{% if request.resolver_match.url_name == 'manager_request_list' or request.resolver_match.url_name == 'manager_request_detail' or request.resolver_match.url_name == 'manager_project_detail' or request.resolver_match.url_name == 'kanban_board' %} active{% endif %}" data-radix-collection-item><span>Заявки</span></a></li>
            <li><a href="{% url 'crm:dashboard' %}" class="styles_navLink___VcW8{% if request.resolver_match.url_name == 'dashboard' %} active{% endif %}" data-radix-collection-item><span>Дашборд</span></a></li>
          {% elif user.is_developer %}
            <li><a href="{% url 'crm:dev_open_tasks' %}" class="styles_navLink___VcW8{% if request.resolver_match.url_name == 'dev_open_tasks' or request.resolver_match.url_name == 'dev_take_task' %} active{% endif %}" data-radix-collection-item><span>Задачи</span></a></li>
            <li><a href="{% url 'crm:dashboard' %}" class="styles_navLink___VcW8{% if request.resolver_match.url_name == 'dashboard' %} active{% endif %}" data-radix-collection-item><span>Дашборд</span></a></li>
          {% else %}
            <li><a href="{% url 'crm:client_requests' %}" class="styles_navLink___VcW8{% if request.resolver_match.url_name == 'client_requests' or request.resolver_match.url_name == 'client_request_detail' %} active{% endif %}" data-radix-collection-item><span>Мои заявки</span></a></li>
            <li><a href="{% url 'crm:public_request' %}" class="styles_navLink___VcW8{% if request.resolver_match.url_name == 'public_request' %} active{% endif %}" data-radix-collection-item><span>Оставить заявку</span></a></li>
          {% endif %}
        {% else %}
          <li><a href="{% url 'crm:public_request' %}" class="styles_navLink___VcW8{% if request.resolver_match.url_name == 'public_request' %} active{% endif %}" data-radix-collection-item><span>Оставить заявку</span></a></li>
        {% endif %}
      </ul>
    </nav>
    <div class="header-actions">
      {% if user.is_authenticated %}
      <a href="{% url 'accounts:profile' %}" class="nav-link">{{ user.username }}</a> |
      <a href="{% url 'accounts:logout' %}" class="nav-link">Выйти</a>
      {% else %}
      <a href="{% url 'accounts:login' %}" class="nav-link">Вход</a>
      <a href="{% url 'accounts:register' %}" class="nav-link">Регистрация</a>
      {% endif %}
    </div>
  </div>
</header>
<main class="container" style="padding-top:90px">
    {% block content %}{% endblock %}
</main>

<script src="{% static 'crm/js/app.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>

